{%extends "base.html" %}

{% block content %}
<center>
    <h3>Signup As Admin!</h3>
</center>
<div>
    <form method="post">
        <h2>Admin Signup</h2>
        {% csrf_token %}
        {% for field in form1 %}
        <div>
            <label>{{ field.label_tag }}</label>
            <div>
                {{ field }}
            </div>
        </div>
        {% endfor %}
        <div>
            <div>
                <button type="submit">Sign Up</button>
            </div>
        </div>
    </form>
    <div>Already have an account? <a href="adminlogin">Login here</a></div>
</div>

{% endblock %}