{%extends "base.html" %}

{% block content %}
<center>
    <h3>Login As Student!</h3>
</center>
<div>
    <form method="post">
        <center>
            <h2>Student Login</h2>
        </center>
        {% csrf_token %}
        {% for field in form %}
        <div>
            <label>{{ field.label_tag }}</label>
            <div>
                {{ field }}
            </div>
        </div>
        {% endfor %}

        <div>
            <div>
                <button type="submit">Login</button>
            </div>
        </div>
    </form>
    <div>Do not have account? <a href="studentsignup">Signup here</a></div>
</div>

{% endblock %}